# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# IDE files
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# IO
output
structure.json

