
<!doctype html>
<html lang="en-US">
  <head>
	<!--INSERT STYLESHEET HERE-->
    <meta charset="utf-8" />
	<!--INSERT ICON HERE-->
    <meta name="viewport" content="width=device-width" />
    <title><!--INSERT TITLE HERE--></title>
  </head>
  <body>
  
	<div class="header">
		<a href="/"><img src="/media/titlemerge.png" alt="title graphic"/></a>
	</div>
	
	<div class="content">
	
		<div class="widgetheader">
		
		</div>

		<!--INSERT CONTENT HERE-->
	
	</div>
	
	<br>
	<br>
	

  </body>
</html>

