<!doctype html>
<html lang="en-US">
  <head>
	<!--INSERT STYLESHEET HERE-->
    <meta charset="utf-8" />
	<!--INSERT ICON HERE-->
    <meta name="viewport" content="width=device-width" />
    <title><!--INSERT TITLE HERE--></title>
  </head>
  <body>
  
	<div class="header">
		<a href="/"><img src="/media/titlemerge.png" alt="title graphic"/></a>
	</div>
	
	<div class="sidebar">
		<img id="top-graphic" src="/media/mothgraphic.png" width = "120" height = "120" alt="moth graphic"/>
		<br><br>
		<h3> MY FOLDERS? </h3>
	  
		<!--INSERT DIRECTORIES HERE-->

	
		<br><br>
		<h3> LATEST EXCRETIONS </h3>

		<!--INSERT RECENT PAGES HERE-->
	
	  
	  <img id="bottom-graphic" src="/media/waspgraphic.png" width = "120" height = "120" alt="wasp graphic"/>
	  
	</div>
	
	<div class="content">
	
		<div class="widgetheader">
		
		</div>

		<!--INSERT CONTENT HERE-->

		<a href="/contact.html"><div class="footer">
		
		come into contact with me

		</div></a>
	
	</div>
	
	<br>
	<br>
	

  </body>
</html>
